{% extends "/views/layout.twig" %}

{% block body %}

    <!--================= SLIDER ===============-->
    <div class="content">
        <section id="carousel1">
            <div class="item">
                <div class="item__image">
                    <img src="images/bg9.jpg" alt="" class="slider-header">
                </div>
            </div>
            <div class="item">
                <div class="item__image">
                    <img src="images/bg9.jpg" alt="" class="slider-header">
                </div>
            </div>
            <div class="item">
                <div class="item__image">
                    <img src="images/bg9.jpg" alt="" class="slider-header">
                </div>
            </div>
            <div class="item">
                <div class="item__image">
                    <img src="images/bg9.jpg" alt="" class="slider-header">
                </div>
            </div>
        </section>
    </div>

    <!--================= BOX UNDER SLIDER ===============-->
    <section class="box-under-slider">
        <div class="hopital-medical">
            <h2>Hôpital médical</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas odit unde dolor inventore autem quod vero incidunt labore sunt reprehenderit consectetur inventore autem quod vero incidunt</p>
            <a href="#">Read more</a>
        </div>
        <div></div>
        <div class="emergency-case">
            <h2>Cas urgent</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas odit unde dolor inventore autem quodvero ipsum</p>
            <h2>+(33) 1234 5678</h2>
            <a href="#">Read more</a>
        </div>
    </section>

    <!--================= A PROPOS ===============-->
    <section class="about">
        <section class="about-left">
            <div class="about-service-top">
                <h2 class="about-service-title">A la Recherche D'un <span class="about-service-title-color">Hôpital Médical</span> de Bonne Qualité ?</h2>
                <h3 class="about-service-sub-title">Un Hôpital de Transplantation Cardiaque de Renommée Mondiale</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae autem fugit consectetur dolor ullam illo ipsa numquam, quod iusto enim ipsum amet iusto amet consec utem fugit consllo ipsa numquam dolor ullam illo, quod iusto enim ipsum amet iusto amet consec.</p>
            </div>
            <section class="about-services">
                <div class="about-services-service">
                    <div class="service">
                        <div class="icon">
                            <i class="fas fa-ambulance"></i>
                        </div>
                        <div class="service-services">
                            <h3>Soins d'urgence</h3>
                            <p>Lorem ipsum dolor sit amet consec tetur elit</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="icon">
                            <i class="fas fa-procedures"></i>
                        </div>
                        <div class="service-services">
                            <h3>Théâtre d'opération</h3>
                            <p>Lorem ipsum dolor sit amet consec tetur elit</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="icon">
                            <i class="fas fa-stethoscope"></i>
                        </div>
                        <div class="service-services">
                            <h3>Bilan de santé</h3>
                            <p>Lorem ipsum dolor sit amet consec tetur elit</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="icon">
                            <i class="fas fa-user-md"></i>
                        </div>
                        <div class="service-services">
                            <h3>Service de cancérologie</h3>
                            <p>Lorem ipsum dolor sit amet consec tetur elit</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="about-image">
            <img src="images/dc2.png" alt="">
        </section>
    </section>

    <!--================= NOS SERVICES ===============-->
    <section class="our-services">
        <div class="our-service-top">
            <h2 class="our-service-title">Nos <span class="our-service-colored">services</span></h2>
            <img src="images/title-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p>
        </div>
        <div class="our-service-services">
            <div class="our-all-service-services">
                <div>
                    <i class="fas fa-user-md"></i>
                    <h3>Médecins Qualifiés</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasiqui invent cumque nulla!</p>
                </div>
                <div>
                    <i class="fas fa-briefcase-medical"></i>
                    <h3>Technologie Avancée</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasiqui invent cumque nulla!</p>
                </div>
                <div>
                    <i class="fas fa-ambulance"></i>
                    <h3>Soins D'urgence</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasiqui invent cumque nulla!</p>
                </div>
                <div>
                    <i class="fas fa-h-square"></i>
                    <h3>Contrôle Quotidien</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasiqui invent cumque nulla!</p>
                </div>
                <div>
                    <i class="fas fa-plus-circle"></i>
                    <h3>Service En Ligne</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasiqui invent cumque nulla!</p>
                </div>
                <div>
                    <i class="fas fa-syringe"></i>
                    <h3>Médecine Généraliste</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quasiqui invent cumque nulla!</p>
                </div>
            </div>
        </div>
    </section>

    <!--================= GRAPHIC ===================-->
    <section class="graphic divider-parallax-effect" id="graphic__parallax">
        <div class="graphic__container">
            <div class="graphic__content">
                <i class="far fa-smile"></i>
                <p class="graphic__number counter">1,450</p>
                <p class="graphic__title">Patients satisfaits</p>
            </div>
            <div class="graphic__content">
                <i class="fas fa-user-md"></i>
                <p class="graphic__number counter">250</p>
                <p class="graphic__title">Médecin certifié</p>
            </div>
            <div class="graphic__content">
                <i class="fas fa-award"></i>
                <p class="graphic__number counter">50</p>
                <p class="graphic__title">Les prix remportés</p>
            </div>
            <div class="graphic__content">
                <i class="fas fa-globe"></i>
                <p class="graphic__number counter">25</p>
                <p class="graphic__title">Points de services</p>
            </div>
        </div>
    </section>

    <!--================= DEPARTMENT ===============-->
    <section class="department">
        <div class="department-top">
            <h2>Clinic <span class="department-colored">departements</span></h2>
            <img src="images/title-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p>
        </div>
        <div class="department-bottom">
            <div class="department-link">
                <ul class="departement-link-content">
                    <li>
                        <a href="#" class="department-active">Orthopédie</a>
                    </li>
                    <li>
                        <a href="#" class="department-item">Cardiologie</a>
                    </li>
                    <li>
                        <a href="#" class="department-item">Neurologie</a>
                    </li>
                    <li>
                        <a href="#" class="department-item">Soins dentaire</a>
                    </li>
                    <li>
                        <a href="#" class="department-item">Hématologie</a>
                    </li>
                </ul>
            </div>
            <div class="department-info">
                <section class="department-left">
                    <div class="departement-left-content">
                        <h2>Cardiologie</h2>
                        <p class="lead">One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid molestias.</p>
                        <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                    </div>
                    <div class="department-left-bottom">
                        <div class="departments">
                            <div class="departments-contents">
                                <div class="department-icon">
                                    <i class="fas fa-ambulance"></i>
                                </div>
                                <div class="department-content">
                                    <h3>Soins D'urgence</h3>
                                    <p>Lorem ipsum dolor sit amet consec tetur elit</p>
                                </div>
                            </div>
                            <div class="departments-contents">
                                <div class="department-icon">
                                    <i class="fas fa-procedures"></i>
                                </div>
                                <div class="department-content">
                                    <h3>Théâtre D'opération</h3>
                                    <p>Lorem ipsum dolor sit amet consec tetur elit</p>
                                </div>
                            </div>
                            <div class="departments-contents">
                                <div class="department-icon">
                                    <i class="fas fa-stethoscope"></i>
                                </div>
                                <div class="department-content">
                                    <h3>Bilan de Santé</h3>
                                    <p>Lorem ipsum dolor sit amet consec tetur elit</p>
                                </div>
                            </div>
                            <div class="departments-contents">
                                <div class="department-icon">
                                    <i class="fas fa-user-md"></i>
                                </div>
                                <div class="department-content">
                                    <h3>Service de Cancérologie</h3>
                                    <p>Lorem ipsum dolor sit amet consec tetur elit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="department-right">
                    <img src="/images/11.jpg" alt="">
                </section>
            </div>
        </div>
    </section>

    <!--================= NOS TARIFS ===============-->
    <section class="pricing">
        <div class="price-top">
            <h2 class="our-pricing">NOS <span class="pricing-colored">TARIFS</span></h2>
            <img src="images/title-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p>
        </div>
        <div class="pricing-cards">
            <div class="price-card">
                <div class="price-icon">
                    <i class="fas fa-user-md"></i>
                </div>
                <h2>Soins Dentaire</h2>
                <p class="pricing-percent">24<span class="price-colored">%</span></p>
                <h4 class="price-discount">Discount</h4>
                <p class="price-details">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Rem autem voluptatem obcaecati!</p>
                <a href="#" class="btn-offer">Get offert!</a>
            </div>
            <span class="span-shadow"></span>
            <div class="price-card">
                <div class="price-icon">
                    <i class="fas fa-syringe"></i>
                </div>
                <h2>Test sanguin</h2>
                <p class="pricing-percent">15<span class="price-colored">%</span></p>
                <h4 class="price-discount">Discount</h4>
                <p class="price-details">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Rem autem voluptatem obcaecati!</p>
                <a href="#" class="btn-offer">Get offert!</a>
            </div>
            <div class="price-card">
                <div class="price-icon">
                    <i class="fas fa-stethoscope"></i>
                </div>
                <h2>Examen médicale</h2>
                <p class="pricing-percent">30<span class="price-colored">%</span></p>
                <h4 class="price-discount">Discount</h4>
                <p class="price-details">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Rem autem voluptatem obcaecati!</p>
                <a href="#" class="btn-offer">Get offert!</a>
            </div>
        </div>
    </section>

    <!--================= BOX UNDER TARIFS ===============-->
    <section class="empty"></section>

    <!--================= NOS SPECIALISTES ========================-->
    <section class="specialists">
        <div class="specialist-top">
            <h2>Nos <span class="specialist-colored">spécialistes</span></h2>
            <img src="images/title-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p>
        </div>
        <div class="specialist-bottom">
            <div id="carousel2">
                <div class="item__specialist">
                    <div class="item__image">
                        <img src="/images/1.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__title">
                            <h2>Dr.Sakib Martin</h2>
                        </div>
                        <div class="item__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__specialist">
                    <div class="item__image">
                        <img src="/images/2.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__title">
                            <h2>Dr.Maria Martin</h2>
                        </div>
                        <div class="item__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__specialist">
                    <div class="item__image">
                        <img src="/images/3.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__title">
                            <h2>Dr.Sakib Martin</h2>
                        </div>
                        <div class="item__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__specialist">
                    <div class="item__image">
                        <img src="/images/4.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__title">
                            <h2>Dr.Marta Martin</h2>
                        </div>
                        <div class="item__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__specialist">
                    <div class="item__image">
                        <img src="/images/3.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__title">
                            <h2>Dr.Sakib Martin</h2>
                        </div>
                        <div class="item__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__specialist">
                    <div class="item__image">
                        <img src="/images/2.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__title">
                            <h2>Dr.Lindsey Martin</h2>
                        </div>
                        <div class="item__description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
            </div>
        </div>
    </section>

    <!--================= NOS GALERIES ========================-->
    <section class="galleries">
        <div class="gallerie-top">
            <h2>Nos <span class="gallerie-colored">galeries</span></h2>
            <img src="images/title-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p>
        </div>
        <div class="gallerie-link">
            <ul class="gallerie-link-content">
                <li>
                    <a href="#" class="gallerie-active">Tous</a>
                </li>
                <li>
                    <a href="#" class="gallerie-item">Branding</a>
                </li>
                <li>
                    <a href="#" class="gallerie-item">Design</a>
                </li>
                <li>
                    <a href="#" class="gallerie-item">Photographie</a>
                </li>
            </ul>
        </div>
        <div class="galleries-items">
            <div class="gallerie-img">
                <img src="/images/1.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/2.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/3.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/4.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/11.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/bg5.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/bg9.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/3.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/2.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/1.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/4.jpg" alt="">
            </div>
            <div class="gallerie-img">
                <img src="/images/bg5.jpg" alt="">
            </div>
        </div>
    </section>

    <!--================= TEMOIGNAGE DE PATIENTS ===================-->
    <section class="testimonial" id="testimonial__parallax">
        <div class="testimonial-top">
            <h2>Témoignages de patients</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p>
        </div>
        <div class="testimonial-bottom">
            <div id="carousel3">
                <div class="item__testimonial">
                    <div class="item__image__testimonial">
                        <img src="/images/1.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__description_testimonial">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                        </div>
                        <div class="item__title_testimonial">
                            <h2>Dr.Sakib Martin</h2>
                            <h3>Student</h3>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__testimonial">
                    <div class="item__image__testimonial">
                        <img src="/images/2.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__description_testimonial">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                        </div>
                        <div class="item__title_testimonial">
                            <h2>Dr.Sakib Martin</h2>
                            <h3>Ingénieur</h3>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__testimonial">
                    <div class="item__image__testimonial">
                        <img src="/images/3.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__description_testimonial">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                        </div>
                        <div class="item__title_testimonial">
                            <h2>Dr.Sakib Martin</h2>
                            <h3>Businessman</h3>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__testimonial">
                    <div class="item__image__testimonial">
                        <img src="/images/4.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__description_testimonial">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                        </div>
                        <div class="item__title_testimonial">
                            <h2>Dr.Sakib Martin</h2>
                            <h3>Student</h3>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
                <div class="item__testimonial">
                    <div class="item__image__testimonial">
                        <img src="/images/11.jpg" alt="">
                    </div>
                    <div class="item__body">
                        <div class="item__description_testimonial">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio</p>
                        </div>
                        <div class="item__title_testimonial">
                            <h2>Dr.Sakib Martin</h2>
                            <h3>Ingénieur</h3>
                        </div>
                    </div>
                    <div class="specialist_bottom_colored"></div>
                </div>
            </div>
        </div>
    </section>

    <!--================= NOS DERNIERES NOUVELLES ==================-->
    <section class="lates-news">
        <div class="news-top">
            <h2>Dernières <span class="news-colored">nouvelles</span></h2>
            <img src="images/title-icon.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!</p>
        </div>
        <div class="news-bottom">
            <div class="news-card">
                <div class="news-card-img">
                    <div class="news-date">
                        <p>28</p>
                        <p class="news-month">FEB</p>
                    </div>
                    <div class="news-img">
                        <img src="/images/1.jpg" alt="">
                    </div>
                </div>
                <div class="news-card-content">
                    <a href="#" class="card-title">Even light drinkers at risk of cancer</a>
                    <p class="card-content">Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                    <div class="news-card-bottom">
                        <a href="#" class="news-button">Voir plus <i class="fas fa-angle-double-right"></i></a>
                        <div class="news-details">
                            <p>
                                <i class="far fa-thumbs-up"></i> 13
                            </p>
                            <p>
                                <i class="far fa-comments"></i> 43
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-card">
                <div class="news-card-img">
                    <div class="news-date">
                        <p>28</p>
                        <p class="news-month">FEB</p>
                    </div>
                    <div class="news-img">
                        <img src="/images/news1.jpg" alt="">
                    </div>
                </div>
                <div class="news-card-content">
                    <a href="#" class="card-title">Six surprising health risks in your home</a>
                    <p class="card-content">Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                    <div class="news-card-bottom">
                        <a href="#" class="news-button">Voir plus <i class="fas fa-angle-double-right"></i></a>
                        <div class="news-details">
                            <p>
                                <i class="far fa-thumbs-up"></i> 13
                            </p>
                            <p>
                                <i class="far fa-comments"></i> 43
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-card">
                <div class="news-card-img">
                    <div class="news-date">
                        <p>28</p>
                        <p class="news-month">FEB</p>
                    </div>
                    <div class="news-img">
                        <img src="/images/news2.jpg" alt="">
                    </div>
                </div>
                <div class="news-card-content">
                    <a href="#" class="card-title">Financial worries may raise heart attack risk</a>
                    <p class="card-content">Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                    <div class="news-card-bottom">
                        <a href="#" class="news-button">Voir plus <i class="fas fa-angle-double-right"></i></a>
                        <div class="news-details">
                            <p>
                                <i class="far fa-thumbs-up"></i> 500
                            </p>
                            <p>
                                <i class="far fa-comments"></i> 100
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-card">
                <div class="news-card-img">
                    <div class="news-date">
                        <p>28</p>
                        <p class="news-month">FEB</p>
                    </div>
                    <div class="news-img">
                        <img src="/images/news3.jpg" alt="">
                    </div>
                </div>
                <div class="news-card-content">
                    <a href="#" class="card-title">Even light drinkers at risk of cancer</a>
                    <p class="card-content">Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                    <div class="news-card-bottom">
                        <a href="#" class="news-button">Voir plus <i class="fas fa-angle-double-right"></i></a>
                        <div class="news-details">
                            <p>
                                <i class="far fa-thumbs-up"></i> 30
                            </p>
                            <p>
                                <i class="far fa-comments"></i> 50
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-card">
                <div class="news-card-img">
                    <div class="news-date">
                        <p>28</p>
                        <p class="news-month">FEB</p>
                    </div>
                    <div class="news-img">
                        <img src="/images/news2.jpg" alt="">
                    </div>
                </div>
                <div class="news-card-content">
                    <a href="#" class="card-title">Financial worries may raise heart attack risk</a>
                    <p class="card-content">Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                    <div class="news-card-bottom">
                        <a href="#" class="news-button">Voir plus <i class="fas fa-angle-double-right"></i></a>
                        <div class="news-details">
                            <p>
                                <i class="far fa-thumbs-up"></i> 500
                            </p>
                            <p>
                                <i class="far fa-comments"></i> 100
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-card">
                <div class="news-card-img">
                    <div class="news-date">
                        <p>28</p>
                        <p class="news-month">FEB</p>
                    </div>
                    <div class="news-img">
                        <img src="/images/news1.jpg" alt="">
                    </div>
                </div>
                <div class="news-card-content">
                    <a href="#" class="card-title">Six surprising health risks in your home</a>
                    <p class="card-content">Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                    <div class="news-card-bottom">
                        <a href="#" class="news-button">Voir plus <i class="fas fa-angle-double-right"></i></a>
                        <div class="news-details">
                            <p>
                                <i class="far fa-thumbs-up"></i> 13
                            </p>
                            <p>
                                <i class="far fa-comments"></i> 43
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================= PARTENAIRES =======================-->
    <section class="partners">
        <div class="partners-content">

            <section id="carousel4">
                <div class="item_partners">
                    <div class="item__image_partners">
                        <img src="images/part1.png" alt="" class="slider-header">
                    </div>
                </div>
                <div class="item_partners">
                    <div class="item__image_partners">
                        <img src="images/part2.png" alt="" class="slider-header">
                    </div>
                </div>
                <div class="item_partners">
                    <div class="item__image_partners">
                        <img src="images/part3.png" alt="" class="slider-header">
                    </div>
                </div>
                <div class="item_partners">
                    <div class="item__image_partners">
                        <img src="images/part4.png" alt="" class="slider-header">
                    </div>
                </div>
                <div class="item_partners">
                    <div class="item__image_partners">
                        <img src="images/part5.png" alt="" class="slider-header">
                    </div>
                </div>
                <div class="item_partners">
                    <div class="item__image_partners">
                        <img src="images/part6.png" alt="" class="slider-header">
                    </div>
                </div>
                <div class="item_partners">
                    <div class="item__image_partners">
                        <img src="images/part7.png" alt="" class="slider-header">
                    </div>
                </div>
            </section>
        </div>
    </section>

{% endblock %}